.comment {
    display: flex;
    flex-flow: column;
    width: 180px;
    height: 180px;
    padding: 10px;
    border: 1px solid black;
}
.comment h4, .comment p { 
    margin-block-start: 0em;
    margin-block-end: 0em;
} 

.comment .header { 
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px;
}

.comment p {
    flex-grow: 1;
    overflow: auto;
}
.comment .header > div { display: flex; }

.comment .star > img, .comment .like > img { 
    margin-right: 0.1em;
    height: 1em;
}


