.loading {
    position: fixed;
    top: 50%;  
    left: 50%;
    transform: translateX(-50%);  
    z-index: 1;
}

.loading > div div:nth-child(1) { background-color: #f7959d; } 
.loading > div div:nth-child(2) { background-color: #f5f394; }
.loading > div div:nth-child(3) { background-color: #d1eaa3; }
.loading > div div:nth-child(4) { background-color: #abc2e8; }
.loading > div div:nth-child(5) { background-color: #dbc6eb; }
