
.sub-header {
    position: fixed;
    top: 3.5em;
    left: 0;

    width: 100vw;
    height: 2em; 

    display: flex;
    align-items: center;

    font-family: 'Arita-dotum-Medium';
    background-color: white;
}

.sub-header .content-wrapper{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2%;
}

.sub-header .search-bar {
    height: 3em;
    display: flex;
    align-items: center;
}
.sub-header input {
    width: 300px;
    height: 3em;
    border: 0.1em solid gray;
    border-radius: 1em;
}
.sub-header button {
    height: 3em;
    width: 3em;
    border: none;

    background-image: url("https://image.flaticon.com/icons/svg/149/149852.svg");
    background-repeat: no-repeat;
    
}