.search-flower-detail {
    display: flex;

    width: 500px;
    margin: 0.8em 0;

    padding: 10px;
    font-family: 'Arita-dotum-Medium';
    background-color: white;
}

.search-flower-detail .content {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.search-flower-detail .flower-img {
    width: 80px;
    height: 80px;
    margin-left: 10px; 
    border: 1px solid black;
    border-radius: 1em;
}

.search-flower-detail h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.search-flower-detail .star {
    width: 19px;
    height: 19px;
}

.search-flower-detail .title { 
    display: flex; 
    margin-bottom: 10px;
}

.search-flower-detail .flowerName { margin-right: 1em; }

.search-flower-detail .purposes {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.search-flower-detail .purpose {
    margin: 0px 5px 5px 0px;
    padding: 5px;
    background-color: pink;
    border-radius: 1em;
}

.search-flower-detail h4 { 
    margin-block-start: 0em;
    margin-block-end: 0em;
}