.search-flower-detail {
    display: flex;

    height: 80px;
    width: 500px;
    margin: 0.8em 0;
    border: 1px solid black;

    padding: 10px;
}

.search-flower-detail .content {
    height: 80px;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.search-flower-detail .flower-img {
    width: 80px;
    height: 80px;
    margin-left: 10px; 
    border: 1px solid black;
    border-radius: 1em;
}

.search-flower-detail h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.search-flower-detail .star {
    width: 19px;
    height: 19px;
}

.search-flower-detail .title { display: flex; }

.search-flower-detail .flowerName { margin-right: 1em; }

.search-flower-detail .purposes {display: flex;}

.search-flower-detail .purpose {
    margin: 0px 5px;
    border: 1px solid black;
    border-radius: 1em;
}