.home {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 247, 243);
}

.home header { 
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.home .search-bar {
  width: 80vw;
  max-width: 1000px;
  height: 50px;

  display: flex;
  justify-content: flex-end;

  margin-bottom: 10px;
  background-color: rgb(230,230,230);
}

.home .search-bar input{
  font-family: sans-serif;
  flex-grow: 1;
  font-size: 4.5vw;
  padding: 0 0.5em;
  border-style: none;
  background-color: rgb(230,230,230);
}
@media screen and (min-width: 500px) {
  .home .search-bar input{
    font-size: 1.2em;
  }
}

.home .search-bar input:focus{ outline: none; }

.home .search-bar button{ 
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: rgb(230,230,230);
  background-image: url(https://image.flaticon.com/icons/svg/149/149852.svg);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.home .main-functions {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px;
  grid-gap: 10px 10px;
}

.home .main-functions div {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(254, 245, 254);
}
.home .main-functions div:hover {
  background-color: rgb(254, 230, 254);
  cursor: pointer;
}
.home .main-functions div img{
  height: 70%;
}

.home button {
  height: 30px;
  width: 100px;
  border-color: black;
  font-family: sans-serif;
}
.home p { 
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.home .modal {
  position: fixed;
  top: 0;
  width: 100%; height: 100%;
  background-color: rgba(230, 230, 230, 0.5);
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .flower-detail-modal-body {
  width :500px; height: 700px;
  border: 1px solid black;
  background-color: white;
  
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.home .flower-detail-modal-body img { width: 200px; height: 200px;}
.home .flower-detail-modal-body p { 
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.home .slider {
  position: fixed;
  bottom: -0px;
  transition: bottom 1s;
  padding: 0 50px;
}
.home .slider:hover {
  bottom: 10px;
}

.home .slick-slider {  
  width: 910px;
}

.home .slick-list {
  height: 310px;
}

.home .slick-prev { border: 1px solid black; height: 30px; width: 30px;}
.home .slick-next { border: 1px solid black; height: 30px; width: 30px;}

.home .slick-slide {
  width: 300px;
  height: 300px;
  border: 1px solid black; 
}

.home .slick-slide > div > div { display: flex; } 