.meetup-list .meetups-loading {
    position: fixed;
    top: 50%;    
    left: 50%;
}

.meetup-list .meetups {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    /* grid-template-rows: 200px; */
    grid-gap: 10px 10px;
    grid-auto-rows: 200px;
    grid-auto-flow: row;

    justify-content: center;
    
    padding-top: 152.69px;
}

.meetup-list .meetup {
    border: 1px solid black;
}