.search {
    width: 100%;
    height: 100%;
    margin-top: 5.5em; 
}

.search .loading {
    position: fixed;
    top: 50%;    
    left: 50%;
}

.search .result {
    display: flex;
    flex-flow: column;
    align-items: center;
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-rows: 200px; */
    /* grid-gap: 10px 10px;
    grid-auto-rows: 200px;
    grid-auto-flow: row; */

    /* justify-content: center; */
    width: 100%;
    height: 100%;
    border: 1px solid black;
}