.search {
    width: 100%;
    height: 100%;
    margin-top: 5.5em; 
}

.search .loading {
    position: fixed;
    top: 50%;    
    left: 50%;
}

.search .result {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}