.signup { 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup .body {
    width: 400px;
    height: 500px;
    border: 1px solid black;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.signup h1 { margin-bottom: 1em; }

.signup .input-box {
    display: flex;
    flex-flow: column;
    width: 80%;
}

.signup input {
    height: 2em;
    margin: 0.2em 0em;
}

.signup button { 
    width: 6em;
    height: 2em; 
    margin: 1em 0em;
}