.signup { 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 243);
}

.signup .body {
    width: 90vw;
    max-width: 400px;
    height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.signup h1 { margin-bottom: 1em; }

.signup .input-box {
    display: flex;
    flex-flow: column;
    width: 80%;
}

.signup input {
    height: 2em;
    border: none;
    margin: 0.3em 0em;
    padding: 0em 0.3em;
    font-size: 20px;
    background-color: rgb(247, 247, 243);
}

.signup button { 
    width: 7em;
    height: 3em; 
    margin: 1em 0em;
    border: none;
    background-color: rgb(248, 248, 203);
    font-size: 16px;
}

.signup button:hover { background-color: pink; }